<?xml version="1.0"?>

<launch>

	<arg name="robot" default="robotino"/>	<!-- robot name, loads corresponding yaml file -->

	<include file="$(find robotino_calibration)/ros/launch/static_transforms.launch"/>

	<node ns="arm_base_calibration" name="arm_base_calibration" pkg="robotino_calibration" type="arm_base_calibration" output="screen">
		<rosparam command="load" file="$(find robotino_calibration)/ros/launch/arm_base_params.yaml"/>
		<rosparam command="load" file="$(find calibration_interface)/ros/launch/robot_params/$(arg robot)_params.yaml"/>
	</node>
</launch>
