<?xml version="1.0"?>

<launch>

	<arg name="robot" default="robotino"/>	<!-- robot name, loads corresponding yaml file -->

	<include file="$(find robotino_calibration)/ros/launch/static_transforms.launch"/>

	<node ns="camera_base_calibration_checkerboard" name="camera_base_calibration" pkg="calibration_interface" type="camera_base_calibration" output="screen">
		<rosparam command="load" file="$(find robotino_calibration)/ros/launch/calibration_settings/camera_base_calibration_checkerboard_params_$(arg robot).yaml"/>
		<rosparam command="load" file="$(find calibration_interface)/ros/launch/$(arg robot)_params.yaml"/>
		<param name="marker_type" value="checkerboard" />
	</node>
</launch>
