<?xml version="1.0"?>

<launch>

	<include file="$(find robotino_calibration)/ros/launch/pi_tag/fiducials.launch"/>

	<!-- transform between marker (e.g. tag or checkerboard) coordinate system and landmark_reference coordinate system
		tag_x: for a PiTag with ID "x" - starts in upper left corner of Pi tag pattern, x goes horizontal to the right, y goes downwards to gravity direction, z goes into the plane
		landmark_reference: similar definition as tag_x, but located at the height of the laser scanner on the left edge of the box in front of the wall or in the corner of two walls
		transform between them: no rotation, just an x, y, and z offset (ATTENTION: height (y or z) offset depends on mounting height of the laser scanner) -->
	<!-- settings in simulation -->
	<!-- node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_landmark_tag_25" output="screen" args="0.8 0.75 0.01 0 0 0  landmark_reference_front tag_25 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_landmark_tag_36" output="screen" args="0.8 0.55 0.01 0 0 0  landmark_reference_front tag_36 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_landmark_tag_38" output="screen" args="1.0 0.65 0.01 0 0 0  landmark_reference_front tag_38 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_landmark_marker_nav_front" output="screen" args="0.0 0.0 0.0 -1.57079632679 0 1.57079632679  landmark_reference_nav landmark_reference_front 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_landmark_tag_48" output="screen" args="-0.6 0.75 0.01 0 0 0  landmark_reference_left tag_48 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_landmark_tag_55" output="screen" args="-0.6 0.55 0.01 0 0 0  landmark_reference_left tag_55 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_landmark_tag_64" output="screen" args="-0.4 0.65 0.01 0 0 0  landmark_reference_left tag_64 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_landmark_marker_nav_left" output="screen" args="0.0 0.0 0.0 0 0 1.57079632679  landmark_reference_nav landmark_reference_left 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_landmark_tag_69" output="screen" args="0.4 -0.2 0.01 0 0 0  landmark_reference_ground tag_69 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_landmark_tag_73" output="screen" args="0.7 -0.2 0.01 0 0 0  landmark_reference_ground tag_73 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_landmark_tag_79" output="screen" args="1.0 -0.2 0.01 0 0 0  landmark_reference_ground tag_79 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_landmark_marker_nav_ground" output="screen" args="0.0 0.0 0.0 -1.57079632679 0 0  landmark_reference_nav landmark_reference_ground 100"/ -->

	<!-- settings at ALU-FR -->
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_landmark_tag_25" output="screen" args="0.646 0.901 0.0 0 0 0  landmark_reference_front tag_25 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_landmark_tag_36" output="screen" args="0.644 0.696 0.0 0 0 0  landmark_reference_front tag_36 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_landmark_tag_38" output="screen" args="0.827 0.795 0.0 0 0 0  landmark_reference_front tag_38 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_landmark_marker_nav_front" output="screen" args="0.0 0.0 0.0 -1.57079632679 0 1.57079632679  landmark_reference_nav landmark_reference_front 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_landmark_tag_48" output="screen" args="-0.599 0.892 0.0 0 0 0  landmark_reference_left tag_48 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_landmark_tag_55" output="screen" args="-0.607 0.679 0.0 0 0 0  landmark_reference_left tag_55 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_landmark_tag_64" output="screen" args="-0.394 0.798 0.0 0 0 0  landmark_reference_left tag_64 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_landmark_marker_nav_left" output="screen" args="0.0 0.0 0.0 0 0 1.57079632679  landmark_reference_nav landmark_reference_left 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_landmark_tag_69" output="screen" args="0.409 -0.235 0.0 0 0 0  landmark_reference_ground tag_69 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_landmark_tag_73" output="screen" args="0.657 -0.235 0.0 0 0 0  landmark_reference_ground tag_73 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_landmark_tag_79" output="screen" args="0.902 -0.233 0.0 0 0 0  landmark_reference_ground tag_79 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_landmark_marker_nav_ground" output="screen" args="0.0 0.0 0.0 -1.57079632679 0 0  landmark_reference_nav landmark_reference_ground 100"/>

	
	
	<node ns="camera_base_calibration_pitag" name="camera_base_calibration" pkg="robotino_calibration" type="camera_base_calibration" output="screen">
		<rosparam command="load" file="$(find robotino_calibration)/ros/launch/camera_base_calibration_pitag_params.yaml"/>
		<param name="marker_type" value="pitag" />
		<remap from="~get_fiducials" to="/fiducials/get_fiducials"/>
	</node>
</launch>
