<?xml version="1.0"?>

<launch>

	<include file="$(find relative_localization)/ros/launch/checkerboard_localisation.launch"/>
	
	<node ns="camera_base_calibration_checkerboard" name="camera_base_calibration" pkg="robotino_calibration" type="camera_base_calibration" output="screen">
		<rosparam command="load" file="$(find robotino_calibration)/ros/launch/camera_base_calibration_checkerboard_params.yaml"/>
		<param name="localization_method" value="checkerboard" />
		<remap from="~colorimage_in" to="/kinect/rgb/image_raw"/>
	</node>
</launch>
