<?xml version="1.0"?>

<launch>

	<!-- transform between marker (e.g. tag or checkerboard) coordinate system and landmark_reference coordinate system
		marker: for a checkerboard or PiTag - starts in upper left corner of PiTag pattern, x goes horizontal to the right, y goes downwards to gravity direction, z goes into the plane
		landmark_reference: similar definition as marker, but located at the intersection of both walls at the height of the laser scanner
		transform between them: no rotation, just a x and y offset (ATTENTION: y offset depends on mounting height of the laser scanner) -->
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_landmark_marker" output="screen" args="0.0 0.7 0 0 0 0  landmark_reference marker 100"/>
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_landmark_marker_nav" output="screen" args="0.0 0.0 0.0 -1.57079632679 0 1.57079632679  landmark_reference_nav landmark_reference 100"/>

	<include file="$(find relative_localization)/ros/launch/corner_localisation.launch"/>
	
	<node ns="camera_base_calibration_corner" name="camera_base_calibration" pkg="robotino_calibration" type="camera_base_calibration" output="screen">
		<rosparam command="load" file="$(find robotino_calibration)/ros/launch/camera_base_calibration_corner_params.yaml"/>
		<param name="marker_type" value="corner" />
		<remap from="~get_fiducials" to="/fiducials/get_fiducials"/>
	</node>
</launch>
